* {
	margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}

body {
	width: 1000px;
	height: 1294.118px;
    background: #aaa;
    margin-bottom: 0;
    overflow: scroll;
}

h1 {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 56px;
}

h2 {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 28px;
    margin-top: 5px;
}

h3 {
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
}

h4 {
    font-weight: 600;
    font-size: 16px;
    margin-left: 1px;
}

i {
    font-style: normal;
    font-family: 'Work Sans';
    padding-left: 2px;
    font-weight: 300;
    font-size: 14px;
}

.title {
    width: 1000px;
    height: 100px;
    position: relative;
    background: white;
    /* border-bottom: 1px solid black; */
}

.title h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 5px;
    padding-left: 36px;
}

.contact {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 13px;
    padding-bottom: 10px;
    padding-right: 40px;
    text-align: right;
}

.body {
    background: white;
    width: 1000px;
    height: 1194.11px;
    display: flex;
}

.main {
    flex: 0 0 70%;
    width: 70%;
    height: 100%;
    /* border-right: 1px solid black; */
}

.main .section {
    padding-right: 40px;
    padding-left: 40px;
}

ul {
    list-style-image: url('bullet.svg');
    margin-top: 10px;
    margin-left: 22px;
    margin-bottom: 10px;
}

li {
    margin-bottom: 6px;
    font-weight: 300;
    font-size: 16px;
}

p {
    margin-left: 22px;
    margin-top: 6px;
    font-weight: 300;
    font-size: 16px;
}

.side {
    flex: 0 0 30%;
    width: 30%;
    height: 100%;
}

.side p {
    margin-top: 5px;
    line-height: 17px;
    font-weight: 300;
    font-size: 13px;
    padding-right: 40px;
    margin-bottom: 16px;
}

.side a {
    padding-left: 22px;
    display: block;
    color: black;
}

.side ul {
    list-style-type: none;
    list-style-image: none;
    margin-right: 40px;
    margin-top: 5px;
}

.side li {
    font-size: 13px;
    margin-bottom: 0;
}